.first{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.formSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

}
.collectionsPage{
    display: flex;
    flex-direction: column;    
 }