.animeList{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}