.first{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.formSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

}

.collectionsPage {
    display: flex;
    flex-direction: column;
}
.buttonSearch {      
    
    margin-left: 10px;
    object-fit: cover;
    text-align: center;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (11 - 7) + 7px);
    background: rgb(251,251,251);
    border: none;
    box-shadow: 0 4px 20px rgba(103,132,187,0.1),0 4px 10px rgba(103,132,187,0.4);
}
.buttonSearch:hover{
    color: #bcbedc;
    background: #2b2d42
}