.collection {
    width: 450px;
    margin: 20px 20px;
    min-width: 200px;
    user-select: none;
    cursor: pointer;
}


.collectionView {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    height: 30%;
    border: 1px solid black;
    height: 20%;
    min-height: 270px;
}

.collectionView:hover {
    border: 1px solid #000000;
    color: #000000;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.6);
}

.collectionItem {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 80%;
    min-width: 200px;
}

.detailsCol {
    margin: 15px;
    width: 90%;
}
.detailsItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75px;
}

.collectionItem{
    display: flex;
    flex-direction: column;
}
.collectionTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.detailsAnim {
    margin: 15px;
}

.userComment {
    margin-right: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.buttonPlace {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}
.button {

    height: 60px;
    min-width: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    object-fit: cover;
    font-size: calc( (100vw - 700px)/(1600 - 700) * (13 - 9) + 9px);
    /* font-size: calc(40px + 30 * (100vw / 1280)); */
}

.item{
    object-fit: fill;
}
@media screen and (max-width: 550px) {
    .collection {
        margin-bottom: 50px;
    }

    .collectionView {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 15px;
        height: 30%;
        border: 1px solid black;
        height: 20%;
        min-height: 270px;
    }

    .collectionTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 140px;
    }

    .userComment {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}