.all{
   height: 100%;
   overflow:hidden;
}
.mainBody{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    transition: background 0.8s ease 0s, top 0.5s ease 0s;
 }
 .mainContent{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    height: 100%;
    flex: 1 0 auto;
    background: #EDF1F5;
    
    background-repeat: no-repeat;
    background-attachment: center;    
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100% 100%; /* Современные браузеры */
 }
 .footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }