.container{
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    
  }

.footer {

    background-color: #fcc0f2;
    margin-top: auto;
    
  }

  .copyright {
    padding: 20px 0;  
    border-top: 1px solid #e5e5e5; 
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  
  .copyright span {
    color: #f38181;
  }