.container{
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; /*расположение по центру*/
  
}

.footer {
     
  background: #2b2d42;
  background-repeat: no-repeat;
  background-attachment: center;   
  display: flex;
  align-self: flex-end;
    
  }

  .copyright {
    padding: 20px 0;  
     
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  
  