.item {
    display: block;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    /* width: 202px;
    height: 450px; */
    width: 152px;
    height: 320px;
  
    margin: 10px 10px;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    background: rgb(251,251,251);
    border: none;
    box-shadow: 0 4px 20px rgba(103,132,187,0.1),0 4px 10px rgba(103,132,187,0.4);
}

.title:hover .button {
    display: block;
    z-index: 1;
    min-height: 15px;
    min-width: 15px;
        
    margin-right: 0px;
    margin-left: 125px;
    
}
.title:hover .button:hover {
    display: block;
    z-index: 1;
    min-height: 13px;
    min-width: 15px;
    margin-bottom: 0;    
    margin-right: 0px;
    margin-left: 125px;
    background-color: #bcbedc;
}
.title:hover {
    border: 2px solid #000000;
    color: #000000;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.6);
    
}




.title:hover .title1{
    width: 152px;
    height: 295px;
    z-index: inherit;
}

.title:hover img{
    width: 148px;
    height: 220px;
}

.title img {
    /* width: 200px;
    height: 270px; */
    width: 152px;
    height: 220px;
    
}


.button {
    display: none;
    z-index: 1;
    min-height: 15px;
    min-width: 15px;
    margin-bottom: 0;
    margin-right: 0;
}


.titleName {
    width: 156;
    height: 30;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: inherit;
}

.titleNameTitle {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    z-index: inherit;
}
@media (hover: none) {
    
    .title1{
        width: 152px;
        height: 295px;
        z-index: inherit;
    }
    .button {
        display: block;
        z-index: 1;
        min-height: 15px;
        min-width: 15px;            
        margin-right: 0px;
        margin-left: 125px;
    }
        
}
