.exactCollectionPage {
    display: flex;
    flex-direction: column;
}

.collection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.collectionPart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 25px;
}



.collectionInfo {
    display: flex;
    flex-direction: column;
}

.collectionInfo h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.discription{
    margin-bottom: 15px;
}


.animes{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.buttonPlace{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    text-align: right;

}

.button {
    height: 60px;
    min-width: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    object-fit: cover;
    font-size: calc((100vw - 700px)/(1600 - 700) * (17 - 14) + 14px);
    /* font-size: calc(40px + 30 * (100vw / 1280)); */
}

@media screen and (max-width: 480px) {
    .collectionPart {
        display: flex;
        flex-direction: column;
        margin: 25px;
    }
}

@media screen and (max-width: 745px) {
    .exactCollection img {

        width: 170px;
        height: 255px;
        border: 10px solid #333
    }
}

@media screen and (max-width: 400px) {
    .exactCollection img {

        display: none;
    }
}

@media screen and (max-width: 580px) {
    .collection {
        display: flex;
        flex-direction: column;
    }
    .buttonPlace{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 15px;
        text-align: center;  
    }
}

.collectionModal {
    flex-grow: 1;
    margin: 25px;
}

