.exactCollectionPage {
    display: flex;
    flex-direction: column;
}

.collection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

.collectionPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 25px;
    max-width: 65vh;
    min-height: 50px;
}


.collectionPart h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}

.description{
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

.descriptionText{ 
    /* font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    overflow-wrap: normal;  /* не поддерживает IE, Firefox; является копией word-wrap */ 
    word-wrap: normal;
    word-break: break-all;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */ 
    line-break: auto;  /* нет поддержки для русского языка */ 
    hyphens: manual;  /* значение auto не поддерживается Chrome */ 
    width: auto;
}
.animesPart{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
.animes{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 100px;
}
.animes h1{
    margin-left: 50px;
}

.buttonPlace{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    text-align: right;
}

.button {
    height: 60px;
    min-width: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    object-fit: cover;
    font-size: calc((100vw - 700px)/(1600 - 700) * (17 - 14) + 14px);
    /* font-size: calc(40px + 30 * (100vw / 1280)); */
}
.button {
    height: 60px;
    min-width: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    object-fit: cover;
    font-size: calc((100vw - 700px)/(1600 - 700) * (17 - 14) + 14px);
    background: rgb(251,251,251);
    border: none;
    box-shadow: 0 4px 20px rgba(103,132,187,0.1),0 4px 10px rgba(103,132,187,0.4);
}
.button:hover{
    color: #bcbedc;
    background: #2b2d42
}
.textIfAnimesIsEmpty{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: calc((100vw - 700px)/(1600 - 700) * (40 - 20) + 20px);
}


@media screen and (max-width: 580px) {
    .collection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .animes{
        display: flex;
        flex-direction: column;
        margin: 15px;
        margin-top: 15px;
    }
    .button {
        height: 60px;
        width: 170px;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 8px;
        object-fit: cover;
        font-size: calc((100vw - 700px)/(1600 - 700) * (17 - 17) + 17px);
        /* font-size: calc(40px + 30 * (100vw / 1280)); */
    }
  
}
@media screen and (max-width: 834px){
    .collectionPart {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 25px;
        max-width: 35vh;
        
    }
    
}
@media screen and (max-width: 1000px){
    .buttonPlace{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: right;
    }
    .button {
        height: 60px;
        width: 170px;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 8px;
        object-fit: cover;
        font-size: calc((100vw - 700px)/(1600 - 700) * (17 - 14) + 14px);
        /* font-size: calc(40px + 30 * (100vw / 1280)); */
    }
    
}


.collectionModal {
    flex-grow: 1;
    margin: 25px;
}

