.collection {  
    width: 500px;
    height: 50%;   
    margin: 20px 20px ; 
    cursor: pointer;
    min-width: 250px;
}

.collectionView {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-right: 15px;
    height: 30%;
    border: 1px solid black;
}

.collectionItem {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 80%;
    min-width: 200px;
}

 .detailsCol{
    margin: 15px;
 }

.collectionTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.detailsAnim{
    margin: 15px;
}

.detailsAnim {
    margin: 15px;
}

@media screen and (max-width: 800px) {
    .detailsAnim {
        display: none;
    }   
}
@media  screen and (max-width: 470px) {
    .collectionItem{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 80%;
        min-width: 200px;
    }
    .collectionItem img{
        display: none;
    }   
}

.buttonPlace {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}