.intro{
    display: flex;    
    flex-direction: column;    
    justify-content: center;    
    width: 100%;  
    height: 100vh;/*ЗАнимает весь экран*/    
    /*background: url("../../images/intro.jpg") center no-repeat;  */
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
  }

.container{
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto; /*расположение по центру*/
  }
  
  .intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    
  
  }

  .intro_title{
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px auto;
    line-height: 1;
  
  }

  .buttons{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  
  .buttonStart{
    display: inline-block;
    width: 400px;
    vertical-align: top ;
    border: 3px solid #333;
    padding: 15px 20px;
    margin: 20px auto;
    font-size: xx-large;
    color: black;
  }
  
  .buttonStart:hover{
    background: pink;
    color: black
  }