.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authButton {
    margin-right: 0;
}

.header {
    background: rgb(255,241,255);
    background: radial-gradient(circle, rgba(255,241,255,1) 43%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: center;   
    border-bottom: 1px solid black;
}