.collection {  
    width: 450px;
    
    margin: 20px 20px ; 
    cursor: pointer;
    min-width: 200px;
}

.collectionView {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-right: 15px;
    height: 30%;
    border: 1px solid black;
    height: 20%;   
    min-height: 270px;
}

.collectionItem {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 80%;
    min-width: 200px;
}

 .detailsCol{
    margin: 15px;
 }

.collectionTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.detailsAnim{
    margin: 15px;
}

.detailsAnim {
    margin: 15px;
}

.userComment{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.buttonPlace {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

@media  screen and (max-width: 550px) {
    .collection {  
        
        
        margin-bottom: 50px; 
        
    }
    .collectionView {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 15px;
        height: 30%;
        border: 1px solid black;
        height: 20%;   
        min-height: 270px;
    }
    
    .collectionTitle{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 140px;
    } 
    .userComment{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    
}

